@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Nunito:wght@600&family=Ysabeau:wght@300&display=swap");

.book {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 87%;
  height: 9.625rem;
  margin: 12px auto;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  border-bottom: 1px solid rgb(230, 225, 225);
}

.details {
  height: 100%;
  width: 18%;

  /* background-color: rgb(152, 203, 31); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 30px;
}

.category {
  margin: 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  margin: -20px 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #2c2b2b;
  font-family: "Ysabeau", sans-serif;
}

.author {
  margin: 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.buttons {
  width: 160px;
  display: flex !important;
  justify-content: space-between;
  margin-left: -10px;
}

.btn {
  background: #fff !important;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 4px;
  color: #0290ff;
  border: none;
  cursor: pointer;
}

.btnBr {
  border-right: 1px solid rgb(220, 210, 210);
  border-radius: 2px;
}

/* chapter  */

.chapter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  /* padding-right: 20px; */
  padding-left: 100px;
  margin-left: 100px;
  border-left: 1px solid rgb(246, 243, 243);
}

.currentChapter {
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin: 0;
}

.chapter1 {
  font-family: RobotoSlab, sans-serif;
  font-family: Ysabeau, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #2c2b2b;
}

.chapterBtn {
  height: 1.563rem;
  padding: 3px 10px;
  border-radius: 3px;
  font-family: RobotoSlab, sans-serif;
  background-color: #0290ff;
  color: #fff;
  border: none;
  cursor: pointer;
}
