.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  height: 10.625rem;
  margin: 12px auto;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.category {
  color: aqua;
}

.title {
  color: rgb(109, 109, 100);
}

.author {
  color: rgb(137, 126, 126);
}
