body {
  text-align: center;
  background-color: #f5f6fa;
}

.active {
  color: rgb(81, 76, 76);
}

hr {
  height: 1.5px;
  width: 87%;
  background-color: rgb(239, 232, 232);
  border: none;
  margin: 40px auto 30px;
}

.work {
  font-family: "Ysabeau", sans-serif;
  font-size: 40px;
  color: rgb(114, 114, 114);
}

.work-para {
  font-family: "Nunito", sans-serif;
}
